.squiggle {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: draw 2s linear forwards;
}
  
.othersquiggle {
    stroke-dasharray: 30000;
    stroke-dashoffset: 30000;
    animation: draw 2s linear forwards;
}

.secondaryLine {
    stroke-dasharray: 100;
    /* stroke-dashoffset: 0; */
    animation: draw2 2s linear forwards;
}

.primaryLine {
    stroke-dasharray: 100;
    animation: draw 2s linear forwards;
}

@keyframes draw {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw2 {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 200;
    }
}
  